/* global */
*{
    box-sizing: border-box;
}

html, body{
    font-family: 'Times New Roman', Times, serif;
}

.clear{
    clear: both;
}

/* HEADER */
.header img {
    width: 250px;
}

.header ul{
    list-style: none;
    background-color: black;
    padding: 15px 0;
    margin: 5px 0 10px;
}

.header ul li{
    display: inline;
}

.header a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 0 10px;
    padding: 25px;
}

/* carousel */
.carousel {
    background-image: url("../img/slider_1.jpg");
    background-repeat: no-repeat;
    background-size: cover; /* cover: phủ kính 2 chiều, contain phủ kính 1 hiều nào tới trước thì dừng */
    background-position: center;
    height: 550px;
}

/* products */
.products{
    margin-bottom: 70px;
}

.products h2{
    text-align: center;
    font-size: 40px;
}

.products__item{
    float: left;
    width: 25%;
    padding: 0 10px;
}

.products__item img{
    width: 100%;
}

.products__item h3{
    font-size: 25px;
}

.products__item p{
    font-size: 17px;
}

.products__item button{
    background-color: red;
    border: 1px solid red;
    border-radius: 3px;
    margin-top: 15px;
    color: white;
    padding: 5px 10px;
}